<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imgpkservice.dao.UserInfoDao">
	<sql id="Base_Column_List">
		userId, userName, imgPath
	</sql>
	<select id="queryUserInfoByUserId" resultType="com.imgpkservice.bean.User"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_user
		where userId = #{userId}
	</select>
	
	<select id="queryAllUser" resultType="com.imgpkservice.bean.User">
		select
		<include refid="Base_Column_List" />
		from t_user
	</select>
	
	<delete id="deleteUserInfoByUserId">
		delete from t_user
		where user_id = #{userId}
	</delete>
	
	<insert id="saveUserInfo">
		replace into t_user (userId, userName, imgPath)
		values (#{userId}, #{userName},
		#{imgPath})
	</insert>
	
	<update id="savePictureInfo">
		replace into t_user_pkimg
		(picId, userId, storePath,
		relationPath)
		values (#{picId}, #{userId},
		#{storePath},
		#{relationPath})
	</update>
	
	<!-- 这个方法是我自己加的 -->
	<select id="queryPictureInfoById" resultType="com.imgpkservice.bean.PictureInfo">
		select
		picId, userId, storePath,
		relationPath
		from t_user_pkimg
		where picId = #{picId}
	</select>
</mapper>